.s2t-editable-field {
  display: flex;
  justify-content: space-between;
  p {
    margin-top: auto;
    margin-bottom: auto;
  }
  button {
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

