.s2t-list-template {
  h1 {
    width: inherit;
    text-align: end;
  }
  .s2t-search {
    padding: 10px;
  }
  .s2t-list-functionalities {
    display: flex;
    justify-content: space-between;
  }
  .s2t-data-list {
    margin-top: 10px;
  }
  .s2t-editable-list {
    margin-top: 10px;
  }
}

