.s2t-side-menu {
  background-color: #f1f0ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    color: dimgray;
    margin: 15px;
  }
  menu {
    flex-grow: 1;
    padding: 0;
    a {
      font-family: 'ubuntu';
      display: inline-block;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: left;
      border: none;
      font-size: 20px;
      width: -moz-available;
      border-top: 2px solid ghostwhite;
      margin-top: 0;
      text-decoration: none;
      color: black;
    }
    a:last-child {
      border-bottom: 2px solid ghostwhite;
    }
    a:hover {
      background-color: lavender;
    }
    a:active {
      background-color: lavenderblush;
    }
    a.current {
      background-color: lavenderblush;
    }
    a.current:hover {
      background-color: lavenderblush;
    }
  }
  #log-out {
    background: lavender;
    margin: 15px;
    border: 1px solid ghostwhite;
  }
}

