.s2t-data-list {
  display: flex;
  flex-direction: column;
  .s2t-data-item {
    display: flex;
    align-items: center;
    border: 2px solid gainsboro;
    border-bottom: none;
    padding: 0;
    text-decoration: none;
    font-family: 'ubuntu';
    color: black;
    a {
      width: 100%;
      text-decoration: none;
      color: black;
      font-family: 'ubuntu';
      padding: 15px;
    }
    .fa-trash-can {
      height: 20px;
      margin: 10px;
    }
  }
  .s2t-data-item:last-child {
    border-bottom: 2px solid gainsboro;
  }
  .s2t-data-item:hover {
    background-color: ghostwhite;
  }
}

